/* Body */
body {
    background-color: #f2f7fc;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Header */
header {
    background-color: #1a73e8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 3vh;
}